[submodule "vendor/concurrentqueue/src"]
	path = vendor/concurrentqueue/src
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vendor/reproc/src"]
	path = vendor/reproc/src
	url = https://github.com/DaanDeMeyer/reproc.git
[submodule "vendor/weggli_native/src"]
	path = vendor/weggli_native/src
	url = https://github.com/trailofbits/weggli-native.git
[submodule "vendor/re2/src"]
	path = vendor/re2/src
	url = https://github.com/google/re2.git
