[submodule "vendor/concurrentqueue/src"]
	path = vendor/concurrentqueue/src
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vendor/reproc/src"]
	path = vendor/reproc/src
	url = https://github.com/DaanDeMeyer/reproc.git
