name: Index

on:
  pull_request:
  workflow_dispatch:
  schedule:
    # At 00:00 every Saturday.
    - cron: "0 0 * * 6"

env:
  EC2_RUNNER_ID: i-0829aea272db4290b
  AWS_REGION: us-east-1

jobs:
  start-ec2-runner:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.EC2_GITHUB_RUNNER_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.EC2_GITHUB_RUNNER_AWS_SECRET_ACCESS_KEY }}

      - name: Start EC2 runner
        id: start_ec2_runner
        run: |
          aws ec2 start-instances --instance-ids ${{ env.EC2_RUNNER_ID }}
          aws ec2 wait instance-running --instance-ids ${{ env.EC2_RUNNER_ID }}

  index-lua:
    runs-on: multiplier
    needs: start-ec2-runner
    container: 
      image: ghcr.io/trailofbits/multiplier:builder
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Download and build Lua
        run: |
          curl --silent --location \
            https://www.lua.org/ftp/lua-5.4.4.tar.gz | tar xz -C '/work/src'
          cd '/work/src/lua-5.4.4'
          bear -- make

      - name: Index Lua
        run: |
          mx-index \
            --db /tmp/lua-5.4.4.mx \
            --target '/work/src/lua-5.4.4/compile_commands.json'

      - name: List functions
        run: |
          mx-list-functions \
            --db /tmp/lua-5.4.4.mx

      - name: Upload Lua index
        uses: actions/upload-artifact@v3
        with:
          name: lua-5.4.4
          path: /tmp/lua-5.4.4.mx

  index-pcre2:
    runs-on: multiplier
    needs: start-ec2-runner
    container: 
      image: ghcr.io/trailofbits/multiplier:builder
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Download, configure and build PCRE2
        run: |
          curl --silent --location \
            https://github.com/PCRE2Project/pcre2/releases/download/pcre2-10.42/pcre2-10.42.tar.bz2 | tar xj -C '/work/src'
          mkdir '/work/build/pcre2-10.42'
          cd '/work/build/pcre2-10.42'
          /work/src/pcre2-10.42/configure
          bear -- make

      - name: Index PCRE2
        run: |
          mx-index \
            --db /tmp/pcre2-10.42.mx \
            --target '/work/build/pcre2-10.42/compile_commands.json'

      - name: List functions
        run: |
          mx-list-functions \
            --db /tmp/pcre2-10.42.mx

      - name: Upload PCRE2 index
        uses: actions/upload-artifact@v3
        with:
          name: pcre2-10.42
          path: /tmp/pcre2-10.42.mx

  index-sqlite:
    runs-on: multiplier
    continue-on-error: true
    needs: start-ec2-runner
    container: 
      image: ghcr.io/trailofbits/multiplier:builder
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Download, configure and build SQLite
        run: |
          curl --silent --location \
            https://www.sqlite.org/2022/sqlite-autoconf-3400000.tar.gz | tar xz -C '/work/src' \
          mkdir '/work/build/sqlite-autoconf-3400000'
          cd '/work/build/sqlite-autoconf-3400000'
          /work/src/sqlite-autoconf-3400000/configure
          bear -- make

      - name: Index SQLite
        run: |
          mx-index \
            --db /tmp/sqlite-autoconf-3400000.mx \
            --target '/work/build/sqlite-autoconf-3400000/compile_commands.json'

      - name: List functions
        run: |
          mx-list-functions \
            --db /tmp/sqlite-autoconf-3400000.mx

      - name: Upload SQLite index
        uses: actions/upload-artifact@v3
        with:
          name: sqlite-autoconf-3400000
          path: /tmp/sqlite-autoconf-3400000.mx

  index-linux:
    # Indexing linux takes too long and eats up all our CI points, skip for now
    if: false
    needs: start-ec2-runner
    container: 
      image: ghcr.io/trailofbits/multiplier:builder
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.github_token }}
    runs-on: multiplier
    continue-on-error: true
    steps:
      - name: Download, configure and build Linux
        run: |
          curl --silent --location \
            https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.6.tar.xz | tar xJ -C '/work/src'
          cd '/work/src/linux-6.1.6'
          PATH="${VCPKG_ROOT}/installed/x64-linux-rel/tools/llvm:${PATH}" make LLVM=1 defconfig
          PATH="${VCPKG_ROOT}/installed/x64-linux-rel/tools/llvm:${PATH}" make LLVM=1 compile_commands.json
          PATH="${VCPKG_ROOT}/installed/x64-linux-rel/tools/llvm:${PATH}" env > env_vars.txt

      - name: Index Linux
        run: |
          mx-index \
            --env '/work/src/linux-6.1.6/env_vars.txt' \
            --db /tmp/linux-6.1.6.mx \
            --target '/work/src/linux-6.1.6/compile_commands.json'

      - name: List functions
        run: |
          mx-list-functions \
            --db /tmp/linux-6.1.6.mx

      - name: Upload Linux index
        uses: actions/upload-artifact@v3
        with:
          name: linux-6.1.6
          path: /tmp/linux-6.1.6.mx

  # TODO: reenable this
  stop-ec2-runner:
    if: false #always()
    runs-on: ubuntu-latest
    needs:
      - start-ec2-runner
      - index-sqlite
      - index-pcre2
      # - index-linux
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-access-key-id: ${{ secrets.EC2_GITHUB_RUNNER_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.EC2_GITHUB_RUNNER_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Stop EC2 runner
        run: aws ec2 stop-instances --instance-ids ${{ env.EC2_RUNNER_ID }}
